table {
  width: 100%;
}

tr th, select {
  padding: 0.5% 0.5% 0.5% 0.5%;
}

select {
  font-weight: bold;
  font-size: 15px;
  width: 150px;
  border-radius: 10px;
}

tr td{
  padding: 0.5% 2%;
  text-align: left;
}

thead tr{
  border-bottom: 2px solid black;
}

tbody tr {
  border-bottom: 1px solid black;
}

table tbody tr:nth-child(even) {
  background-color: #303030;
}

table tbody tr:nth-child(odd) {
  background-color: #383838;
}

.headings {
  height: 75px;
  background-color: #303030;
  font-weight: bold;
  font-size: x-large;
}

.name {
  width: 25%;
  border-right: 1px solid #282828;
}

.type{
  width: 75%;
  position: relative;
  color: #686868;
}

select option {
  font-weight: bold;
  color: black;
}

select option:hover {
  background-color: lightgray;
  color: #000;
}

tbody tr:hover {
  cursor: pointer;
}

td .name{
  height: 25px;
}

.type .details{
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: #404040;
  text-align: left;
  width: 100%;
}

.details pre {
  text-align: left;
  color: white;
  font-style: inherit;
  margin: 0;
  padding: 2% 2%;
  width: fit-content;
  white-space: pre-line;
  font-family: inherit;
  font-size: 1rem;
}

td .name::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: limegreen;
  border-radius: 7.5px;
  position: absolute;
}

.dot-green {
  height: 11px;
  width: 11px;
  background-color: limegreen;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
}

.dot-red {
  height: 11px;
  width: 11px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
}

.dot-yellow {
  height: 11px;
  width: 11px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
}

.not-active {
  opacity: 0.3;
}

.not-active .type {
  opacity: 0.2;
}

.active {
  background-color: #505050 !important;
}

.active .type{
  padding-left: 0;
}

.select-options{
  position: relative;
  height: 85px;
  background-color: #303030;
  font-weight: bold;
  font-size: small;
}

.select-options select {
  position: absolute;
  right: 1%;
  top: 25%;
}

/*tr:not(.active) {*/
  /*opacity: 0.1;*/
/*}*/

@media screen and (max-width: 768px){
  tbody tr td {
    padding: 15px 12px;
  }

  th {
    padding: 10px !important;
  }

  td .name {
    width: 30%;
  }

  td.type {
    width: 70%;
    padding-left: 15px;
  }

  .type pre {
    padding-left: 20px;
  }

  select {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
  }
}

a {
  color: dodgerblue;
  text-decoration: underline;
}

@media screen and (min-width: 768px){
  tbody tr td {
    padding: 12px;
  }

  th {
    padding: 12px !important;
  }

  td .name {
    padding-left: 17px;
  }

  select {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 7px;
  }
}

@media screen and (min-width: 992px) {
  tbody tr td {
    padding: 15px 20px;
  }

  th {
    padding: 15px !important;
  }

  td .name {
    padding-left: 20px !important;
  }

  td .type {
    padding-left: 25px;
  }

  .type pre {
    padding-left: 30px;
  }
}
